<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd"> 
  
   	<!-- 注解扫描  扫描指定包及其子包下的注解 -->
   <context:component-scan base-package="com.qianfeng">
   		<!-- 排除扫描的注解 -->
   		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
   </context:component-scan>
 
 
 
  
   <!-- 数据源的配置 -->
  	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
  		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
  		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/qiandao"></property>
  		<property name="user" value="root"></property>
  		<property name="password" value="czw123456"></property>
  		<property name="initialPoolSize" value="5"></property>
  		<property name="maxPoolSize" value="10"></property>
  		<property name="maxIdleTime" value="1000"></property>
  	</bean>
   
   
   
   
   
   	
	<!-- 创建mybatis的会话工厂对象 -->
   <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 设置数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 加载mybatis主配置文件 -->
		<property name="configLocation" value="classpath:mybatis.xml"/>
		<!-- 加载映射文件 -->
		<property name="mapperLocations" value="classpath:com/qianfeng/mapper/*.xml"/>
		
   </bean>
   
   
   
   
   
   
   <!-- 扫描映射代理的接口类,注入到spring容器中 -->
   <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
   		<property name="sqlSessionFactoryBeanName" value="sessionFactory"></property>
   		<property name="basePackage" value="com.qianfeng.dao"></property>
   </bean>
   
   
   
   
    <!-- 1配置事务管理类 -->
   	<bean id="txManage" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
   		
   		<property name="dataSource" ref="dataSource"></property>
   	</bean>
  
  
  
   
    <!-- 2配置事务的特性 -->
   <tx:advice id="txAdvice" transaction-manager="txManage">
   		<tx:attributes>
   			<!-- 针对使用事务的add开头的方法 
   			read-only 是否只读，true 是，false 可读可写
   			如果有插入等操作，设为为true，运行程序会报异常-->
   			<tx:method name="add*" read-only="false" propagation="REQUIRED"/>
   			<tx:method name="delete*" read-only="false"  propagation="REQUIRED"/>
   			<tx:method name="update*" read-only="false"  propagation="REQUIRED"/>
   			<tx:method name="find*" read-only="true"  propagation="REQUIRED"/>
   			<!-- 针对其余的方法 -->
   			<tx:method name="*" propagation="NOT_SUPPORTED"/>
   			
   		</tx:attributes>
   </tx:advice>
   
   
   
   <!-- 3AOP配置 -->
   <aop:config>
   		<!-- 切入点 -->
   		<aop:pointcut expression="execution(* com.qianfeng.service.*.*(..))" id="pc"/>
   
   		<!-- 通知 -->
   		<aop:advisor advice-ref="txAdvice" pointcut-ref="pc"/>
   
   </aop:config>
   
   
   
   
   
    <!-- shiro 配置 -->
   <!-- 自定义Realm -->
	<bean id="myRealm" class="com.qianfeng.realm.MyRealm"/>  
	
	<!-- 安全管理器  缓存和  记住我功能的id-->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">  
  	  <property name="realm" ref="myRealm"/>  
  	 
  	  <property name="rememberMeManager" ref="rememberMeManager" />
	</bean>  
	
	
	
	
	




	<!-- remenberMe配置 -->
	<bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<constructor-arg value="rememberMe" />
		<property name="httpOnly" value="true" />
		<!-- 默认记住7天（单位：秒） -->
		<property name="maxAge" value="604800" />
	</bean>
	<!-- rememberMe管理器 -->
	<bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
		<property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}" />
		<property name="cookie" ref="rememberMeCookie" />
	</bean>
	
	
	
	
	<!-- Shiro过滤器 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">  
	    <!-- Shiro的核心安全接口,这个属性是必须的 -->  
	    <property name="securityManager" ref="securityManager"/>
	    <!-- 身份认证失败，则跳转到登录页面的配置 -->  
	    <property name="loginUrl" value="/login.html"/>
	    <!-- 权限认证失败，则跳转到指定页面 -->  
	    <property name="unauthorizedUrl" value="/unauthorized.jsp"/>  
	    <!-- Shiro连接约束配置,即过滤链的定义 -->  
	    <property name="filterChainDefinitions">  
	        <value>  
	       	   /login.html=anon
               /login=anon
               /register=anon
               /register.html=anon
               /register_success.html=anon
             	<!-- 静态页面放行！ -->
               /js/**=anon
               /images/**=anon
               /css/**=anon
               /layui/**=anon
               /media/**=anon

				
				<!-- /**=authc 针对登陆过后才能访问其内部会做判断我们不用管 -->
				<!-- 针对rememberme功能 -->
				/**=authc
	        </value>  
	    </property>
	</bean>
   
   
   
   
   <!-- 文件上传视图解析器 -->
   		<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

     		<!-- 上传文件的最大大小 ，单位字节 ，比如 1024 * 1024 = 1M-->

     		<property name="maxUploadSize" value="1048576000"></property>
     		

  		</bean>
 
   
   
</beans>