<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 使用对应的Dao层的接口 -->
<mapper namespace="com.qianfeng.dao.IUserDao">

	<resultMap type="User" id="userMap">
		
		<id property="id" column="id"/>
		<result property="name" column="name" />
		<result property="password" column="password" />
		<result property="rname" column="rname" />
		
	</resultMap>
	
	<!-- 用户登录所用的方法-->
	<select id="find" parameterType="string" resultType="User">
	select * from user where name=#{no}
	</select>
	
	<insert id="add" parameterType="User">
	insert into user (name,password,rname)values(#{name},#{password},#{rname})
	</insert>
	
	<update id="updateuser" parameterType="User">
	update user set name=#{name}, password=#{password}, rname=#{rname} where id=#{id}
	</update>
	
	<select id="showuser" parameterType="User" resultType="User">
	select * from user where name=#{name}
	</select>
	
</mapper>




